/* css : cascading style sheets */
.round-image
{
    width:540px;
    height:540;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 100px;
}

.title
{
    color:skyblue; font-size:55px; font-family:궁서체;text-align: center;
}

.content
{
    text-align:center
}